table, tr, td
{
	border:1px solid black;
	text-align: center;
	
}

div.poravnaj
{
	margin: auto;
  	width: 60%;
}

img
{
	width: 200px;
	height: 100px;
}

form {
 /* Float both forms to the left */
 float: left; 
}